* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

button{
    cursor: pointer;
}

body {
    background-color: #e0e7ee;
}

header {
    position: absolute;
}

#caravana {
    width: calc(100vw - (100vw - 100%));
    height: fit-content;
    background-image: url(./assets/caravana.jpg);
    background-size: cover;
    background-position-x: 33%;
    position: relative;
    z-index: 0;
}

#caravanaBg {
    height: 100%;
    width: calc(100vw - (100vw - 100%));
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#caravanaInfo {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 6vw;
    align-items: center;
    padding: 10vw 0;
}

#caravanaInfo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vw;
}

#caravanaInfo img {
    width: 70vw;
}

#caravanaInfo h2 {
    color: #ed3237;
    font-style: italic;
    font-size: calc(1.6rem + 4vw) !important;
}

#caravanaInfo p {
    color: white;
    font-size: calc(1.2rem + 4vw) !important;
    text-align: center;
}

#caravanaInfo button {
    color: white;
    background-color: #2740c5;
    border: none;
    padding: 5vw 10vw;
    border-radius: 2vw;
    font-size: calc(1.2rem + 2vw) !important;
    font-weight: bold;
}

#objetivos {
    padding: 10vw 0;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 14vw;
}

#objetivosDesktop {
    display: none;
}

.articleTitle {
    color: #ed3237;
    font-style: italic;
    font-size: calc(2.2rem + 3vw) !important;
    text-align: center;
}

.objetivo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8vw;
}

.objetivo div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.objetivo svg {
    width: 17vw;
    height: 17vw;
}

.objetivo h3 {
    color: #2740c5;
    font-size: calc(2rem + 1vw) !important;
    font-weight: bold;
}

.objetivo p {
    font-size: calc(1.4rem + 1vw) !important;
    text-align: center;
    font-weight: bold;
}

#cronogramaWrapper {
    overflow: hidden;
}

#cronogramas {
    display: flex;
    transition: 300ms;
}

.cronograma,
#cronogramaDatas {
    padding: 10vw 0;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

.cronograma {
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

#cronogramaDatas {
    padding: 10vw 0 0;
}

#buttonsDias {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

#buttonsDias button {
    width: 100%;
    height: 12vw;
    font-weight: bold;
    font-size: calc(1.2rem + 1vw) !important;
    border-radius: 2vw;
}

.diaButton {
    color: #2740c5;
    background-color: #e0e7ee;
    border: #2740c5 2px solid;
    cursor: pointer;
}

.diaSelecionado {
    color: white;
    background-color: #2740c5;
    border: #2740c5 2px solid;
    border: none;
    transition: 300ms;
}

.diaIndisponivel {
    color: gray;
    border-color: gray;
}

.cronogramaDiv {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vw;
}

.cronogramaTitle {
    color: #ed3237;
    font-style: italic;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.cronogramaInfo,
.local a,
.cronogramaInfo span {
    text-align: center;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.cronogramaInfo span {
    color: #2740c5;
}

.slider {
    display: flex;
    width: 90vw;
    height: fit-content;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.sliderDiv {
    width: 80%;
    overflow: hidden;
    display: flex;
}

.sliderDiv div {
    display: flex;
    transition: 500ms;
}

.sliderPass {
    width: 10%;
    height: 25vh;
    background: none;
    border: none;
}

.sliderPassHidden {
    visibility: hidden;
}

.sliderBackward {
    transform: rotate(180deg);
}

.slider img {
    width: 100%;
}

.local iframe {
    width: 100vw;
    height: -webkit-fill-available;
    min-height: 40vh;
}

.palestrante {
    margin-top: 10vw;
}

.palestranteInfoDesktop {
    display: none !important;
}

.palestrante div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.palestrante img {
    width: 100%;
}

#patrocinadores {
    padding: 10vw 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

#patrocinadoresSlider {
    overflow-y: scroll;
    padding-left: 5vw;
}

#patrocinadoresSliderDiv {
    display: flex;
    gap: 4vw;
    margin-right: 5vw;
    width: fit-content;
    padding-bottom: 5vw;
}

#patrocinadoresSliderDiv img {
    width: 24vw;
}

#patrocinadoresSliderDesktop {
    display: none;
}

#saibaMais {
    padding: 10vw 0 20vw;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

#saibaMais p,
#saibaMais a {
    font-size: calc(1.4rem + 1vw) !important;
    text-align: center;
    font-weight: bold;
}

#saibaMais a,
#saibaMais a:visited {
    color: #2740c5;
    display: inline-flex;
    align-items: flex-end;
    gap: 1vw;
}

@media (1024px <= width) {
    #caravanaInfo {
        flex-direction: row-reverse;
        padding: 0;
        height: 95vh;
        width: 75vw;
        justify-content: space-between;
    }

    #caravanaInfo img {
        width: 35%;
    }

    #caravanaInfo div {
        align-items: flex-start;
        gap: 2vw;
    }

    #caravanaInfo h2 {
        font-size: calc(2.4rem + 1vw) !important;
    }

    #caravanaInfo p {
        font-size: calc(2rem + 0.5vw) !important;
        text-align: left;
    }

    #caravanaInfo button {
        padding: calc(0.5vw + 0.8vh) calc(1.5vw + 2vh);
        border-radius: 0.6vw;
        font-size: calc(1.6rem + 0.2vw) !important;
    }

    #caravanaInfo button:hover {
        cursor: pointer !important;
        background-color: #1e319e;
        transition: 200ms;
    }

    #objetivos {
        display: none;
    }

    #objetivosDesktop {
        padding: 5vw 0;
        width: 75vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 8vw;
    }

    #sobreWrapper {
        display: flex;
        gap: 10vw;
    }

    .sobreCards {
        width: 100%;
        border: #2740c5 3px solid;
        padding: 5vw 2vw;
        border-radius: 2vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    }

    .cardTitle {
        margin-bottom: 2vw;
    }

    #sobreWrapper svg {
        width: 8vw;
        height: fit-content;
        transition: 600ms;
    }

    .svgShrink {
        width: 5vw !important;
    }

    .sobreCards p {
        color: #2740c5;
        font-size: 24px;
        font-weight: bold;
    }

    .descriptionDiv {
        height: 0;
        overflow: hidden;
        transition: 600ms;
    }

    .description {
        font-size: 20px !important;
        font-weight: 600 !important;
    }

    .articleTitle {
        font-size: calc(2.2rem + 2vw) !important;
    }

    #cronogramaDatas {
        padding: 5vw 0;
        gap: 5vw;
        width: 75vw;
    }

    #buttonsDias {
        justify-content: center;
    }

    #buttonsDias button {
        width: 10vw;
        height: 5vw;
        font-size: calc(1.6rem + 0.2vw) !important;
        border-radius: 1vw;
    }

    .cronograma {
        width: 75vw;
        padding: 5vw 12.5vw;
    }

    .cronogramaDiv {
        margin-top: 0;
        gap: 3vw;
    }

    .cronogramaTitle {
        font-size: calc(2.4rem + 0.5vw) !important;
    }

    .cronogramaInfo,
    .cronogramaInfo span {
        font-size: calc(1.4rem + 0.5vw) !important;
    }

    .slider {
        width: 75vw;
    }

    .sliderDiv {
        width: 100%;
    }

    .sliderPass {
        width: fit-content;
    }

    .slider img {
        width: 61vw;
    }

    .sliderPass svg {
        height: 7vw !important;
        width: 7vw !important;
    }

    .local a {
        margin-bottom: 5vw;
    }

    .local iframe {
        min-height: 50vh;
    }

    .palestranteInfoDesktop {
        display: flex !important;
        flex-direction: row;
        width: 75vw;
    }

    .palestranteInfoDesktop div {
        display: flex !important;
        flex-direction: column;
    }

    .palestranteInfoDesktop div div {
        display: flex !important;
        gap: 1vw;
        flex-direction: row;
    }

    .palestranteInfoDesktop .cronogramaInfo {
        text-align: justify;
    }

    .palestranteInfoDesktop p,
    .palestranteInfoDesktop img {
        display: inline !important;
    }

    .palestrante div,
    .palestrante img,
    .palestrante p {
        display: none;
    }

    .palestrante svg{
        cursor: pointer;
    }

    .palestrante img {
        width: 50%;
        height: 50vh;
    }

    #patrocinadores {
        padding: 5vw 0;
    }

    #patrocinadoresSlider {
        display: none;
    }

    #patrocinadoresSliderDesktop {
        display: flex;
        overflow: hidden;
    }

    .patrocinadoresSliderDivDesktop {
        animation: 15s slide infinite linear;
        display: flex;
        flex-wrap: nowrap;
        min-width: fit-content;
        gap: 3vw;
        padding-right: 3vw;
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    .patrocinadoresSliderDivDesktop img {
        height: 13vw;
    }

    #saibaMais {
        gap: 3vw;
        width: 75vw;
        padding: 5vw 0 10vw;
    }
}

@media (1920px<=width) {
    #caravanaInfo {
        width: 60vw;
    }

    #caravanaInfo img {
        width: 70%;
    }

    #objetivosDesktop {
        gap: 5vw;
    }

    .articleTitle {
        font-size: calc(2.2rem + 1.6vw) !important;
    }

    #objetivosDesktop {
        width: 70vw;
    }

    #sobreWrapper {
        justify-content: center;
    }

    #sobreWrapper svg {
        width: 5vw;
    }

    .sobreCards {
        width: 30%;
    }

    .cardTitle {
        margin-bottom: 0.5vw;
    }

    .svgShrink {
        width: 4vw !important;
    }

    .description {
        text-align: justify;
    }

    #cronogramaDatas {
        gap: 2vw;
        padding: 5vw 0 3vw;
    }

    #buttonsDias {
        gap: 1vw;
    }

    #buttonsDias button {
        width: 7vw;
        height: 3vw;
        border-radius: 0.4vw;
    }

    #cronogramas {
        display: flex;
        transition: 500ms;
    }

    .cronograma {
        padding: 3vw 12.5vw;
    }

    .cronogramaDiv {
        gap: 2vw;
    }

    .slider {
        justify-content: center;
    }

    .sliderDiv {
        width: 40vw;
    }

    .sliderPass{
        height: 60vh;
    }

    .sliderPass svg {
        height: 4vw !important;
        width: 4vw !important;
    }

    .slider img {
        width: 40vw;
    }

    .local a{
        font-size: 22px;
    }

    .palestranteInfoDesktop{
        width: 60vw !important;
    }

    #patrocinadores{
        gap: 5vw;
    }

    .patrocinadoresSliderDivDesktop img {
        height: 8vw;
    }

    #saibaMais a{
        gap: 0.4vw;
    }
}
